<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thông tin tài khoản</title>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/casino-glyph/500/casino-Glyph-13-512.png">

  </head>
  <body>
    {% include 'include-template.html' %}
    <div class="container mt-3 p-0">
      <div class="row mr-1 ml-1">
        <div class="text-light col-lg-12 col-xl-4 p-0 ">
        {% include 'include-template-profile.html' %}
        </div>
      <div class="col-sm col-md-12 col-lg-7 bg-light rounded-right border border-secondary p-0 pl-3 pr-3">
        <!--One of two columns-->

        <!--top banner -->
            <div class="row mt-2">
              <div class="col-md-3 col-5 m-0 pr-0 ">
                <div class="container rounded-top border border-success border-top-0 border-left-0 border-right-0 p-0 ">
                  <a class="nav-link active border-success border-bottom-0 text-dark font-weight-bold pl-4"
                  href="/edit.profile/{{account_other.username}}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span style="display:inline-block; width: YOURWIDTH;"></span>
                    Thông tin
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-5 m-0 pl-0 pr-0 ">
                <div class="container rounded-top border border-success border-bottom-0 p-0">
                  <a class="nav-link active border-success border-bottom-0 text-success font-weight-bold pl-4"
                  href="/friend.list/{{account_other.username}}">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    <span style="display:inline-block; width: YOURWIDTH;"></span>
                    Theo dõi
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-5 m-0 pl-0 pr-0 ">
                <div class="container rounded-top border border-success border-top-0 border-left-0 border-right-0 p-0 ">
                  <a class="nav-link active border-success border-bottom-0 text-dark font-weight-bold pl-4"
                  href="/contract.list/{{account_other.username}}">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span style="display:inline-block; width: YOURWIDTH;"></span>
                    Kèo bet
                  </a>
                </div>
              </div>
              <div class="col m-0 pl-0 border border-success border-top-0 border-left-0 border-right-0 p-0 mr-3">
              </div>
            </div>
            <!--top banner end_ -->


            <div class=" mt-4 p-0 pl-2 pr-2">
              {% if account.username == account_other.username %}
              <div class=" text-left pl-3 mt-2 mb-1  text-success pr-4 col-12">
                <h5 class=" font-weight-bold p-0 m-0">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <span style="display:inline-block; width: YOURWIDTH;"></span>
                    Danh sách Theo dõi:
                </h5>
              </div>
              {% if account_other.friendlist|length == 0 %}
              <div class="text-dark text-center p-4 pt-0 col-12">
                <br>
                <span class="font-weight-bold text-success">
                  Không có tài khoản nào trong danh sách theo dõi.
                </span>
              </div>
              {% else %}
                {% for friend in account_other.friendlist %}
                  {% for hint in hints %}
                    {% if friend == hint.username %}
              <div class="row">
                <div class="col-10">
                  <span>
                    <a class="dropdown-item pb-1" href="/profile/{{hint.username}}">
                      <span class=" font-weight-bold text-success">
                        {% if hint.image is none %}
                        <img class=" rounded-circle" src="https://www.frankfurt-airport.com/etc/clientlibs/fraport-airport/fraport.base.app/resources/img/fra_avatar.jpg" height="20px" width="20px" alt="">
                        {% else %}
                        <img class=" rounded-circle" src="data:image/*;base64,{{hint.image}}" height="20px" width="20px" alt="">
                        {% endif %}
                        {{ hint.name }}
                      </span>
                    <p style="font-size: 14px;" class="m-0">
                      Đã trong danh sách theo dõi
                      <span class="text-primary">
                        Xem trang cá nhân
                      </span>
                    </p>
                  </a>
                </span>
              </div>
              <div class=" col-1 p-0 text-left">
                <a data-toggle="tooltip" data-placement="top" title="Thăm trang cá nhân"
                class="col m-0 p-0 btn btn-sm btn-success font-weight-bold text-success mr-1" href="/profile/{{hint.username}}">
                  <i  class="text-white fa fa-sign-in" aria-hidden="true"></i>
                </a>
                {% if account.username == account_other.username %}
                <a data-toggle="tooltip" data-placement="top" title="Hủy theo dõi"
                class="col m-0 p-0 btn btn-sm btn-danger font-weight-bold text-success mr-1" href="/friend.request/delete.friend/{{hint.username}}">
                  <i class="fa fa-minus-square-o text-white " aria-hidden="true"></i></a>
                  {% endif %}
                </div>
              </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
          <br><br>
        {% endif %}
      </div>
      <!--One of two columns end_-->
    </div>
    <!-- display end_ -->
    <!-- Cơ chế -->
  </div>
</div>

  </body>
</html>
